/* You can add global styles to this file, and also import other style files */
$color-danger: #e74736;
$color-success: linear-gradient(270deg,#3eaeca,#38c6ae);

.img-fluid {
  max-width: 100%;
  height: auto;
}
.btn {
  padding: 5px10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;

  &-success {
    color: #fff;
    background: $color-success;
    border-bottom: 5px solid #63b3cc;
  }
  &-success:hover {
    transition: 0.2s;
    box-shadow: 02px13px0 rgba(45, 141, 144, 0.49);
  }

  &-danger {
    color: #fff;
    background: $color-danger;
    border-bottom: 5px solid #d13a29;
  }
  
  &-danger:hover {
    box-shadow: 02px13px0 rgba(223, 40, 20, 0.49);
    transition: 0.2s;
  }

  &-block {
    display: block;
    width: 100%;
  }

}

.ctn {
  text-align: center;
}